<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mypushtak.app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeNoActinBar">
        <activity android:name=".Activity.MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/AppFullScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.productfullview" />
        <activity android:name=".NavigationExtend" />
        <activity android:name=".Activity.ProfileActivity" />
        <activity android:name=".Activity.ProductView" />
        <activity android:name=".LoginActivity" />

        <meta-data
            android:name="com.facebook.accountkit.ApplicationName"
            android:value="@string/app_name" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/FACEBOOK_APP_ID" />
        <meta-data
            android:name="com.facebook.accountkit.ClientToken"
            android:value="@string/ACCOUNT_KIT_CLIENT_TOKEN" />

        <activity android:name="com.facebook.accountkit.ui.AccountKitActivity" />
        <activity android:name=".Activity.ProfileDetailsActivity" />
        <activity android:name=".Activity.CartItemsActivity" />
        <activity android:name=".Activity.Donation" />
        <activity android:name=".Activity.Donationform" />
        <activity android:name=".Activity.donationlastpart" />
        <activity android:name=".Activity.Schoolbooks" />
        <activity android:name=".Activity.Universitybooks" />
        <activity android:name=".Activity.Fictionbooks" />
        <activity android:name=".Activity.Competitivebooks" />
        <activity android:name=".Activity.DeliveryAddress" />
        <activity android:name=".Activity.MyOrders" />
        <activity android:name=".Activity.OrderDetails" />
        <activity android:name=".Activity.ChangePassword" />
        <activity android:name=".Activity.EditAddress" />
        <activity android:name=".Activity.AdditionalDeliveryAddress" />
        <activity android:name=".Activity.AddAddress" />
        <activity android:name=".Activity.MyCoupons" />
        <activity android:name=".Activity.OfferZone" />
        <activity android:name=".Activity.wallet" />
        <activity android:name=".Activity.DonationStatus"></activity>
    </application>

</manifest>